<div class="row">
<ul class="timelist">
<% for sdf in @spms %>
  <% date = sdf.datetime %>
  <li>
	<a href="raw/<%=sdf.xml.xpath('/SPM/Package/Filename').first.content%>">
	<div class="time"><h3><%= date.hour %>:<%= sprintf('%02d',date.minute) %></h3></div>
	<div class="desc"><h3><%=sdf.xml.xpath('/SPM/Package/Type').first.content || sdf.xml.xpath('/SPM/Package/Format').first.content %> - <%=sdf.xml.xpath('/SPM/Package/Filename').first.content%></h3></div>
	</a>
</li>
<% end %>
</ul>
</div>
