<div class="row header">
	<div style="float:left">
		<p class="meta">
			<time datetime="<%= nanonis.datetime.to_s %>">
			  <span class="day"><%= nanonis.datetime.day %></span>
			  <span class="month"><%= Date::MONTHNAMES[nanonis.datetime.month] %></span>
			  <span class="year"><%= nanonis.datetime.year %></span>
			</time>
		</p>
		<h1 class="entry-title"><%= nanonis.filename %></h1>
	</div>

	<div style="float:right">
		<ul id="parameters">
			<li>V=<%= nanonis.xml.xpath('/SPM/Package/Header/bias_bias__v_') || '#'%></li>
			<li>Q=<%= nanonis.q_factor %></li>
			<li>osc=<%= nanonis.oscillation_amplitude %> m</li>
		</ul>
	</div>
</div>
