<div class="row header">
	<div style="float:left">
		<p class="meta">
			<time datetime="<%= sample.datetime.to_s %>">
			  <span class="day"><%= sample.datetime.day %></span>
			  <span class="month"><%= Date::MONTHNAMES[sample.datetime.month] %></span>
			  <span class="year"><%= sample.datetime.year %></span>
			</time>
		</p>
		<h1 class="entry-title"><%= sample.title %></h1>
	</div>

	<div style="float:right">
		<ul id="parameters">
			<li></li>
		</ul>
	</div>
</div>
