<% @sdf ||= sdf %>
<%= partial :"scanita/header", :locals => {sdf: @sdf} %>

<div style="row">
	<% type = @sdf.type.gsub(' ','_') %>
	<% case type when "Classic scan" %>
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf} %>
	<% when "Spectroscopy" %>
	<div style="page-break-before:always;">
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf,direction:'Forward'} %>
	</div>
	<div style="page-break-before:always;">
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf,direction:'Backward'} %>
	</div>
	<% end %>
</div>

<div class="row noprint">
	<div class="twocol">
	<h2>XML</h2>
	<div id="editor"></div>

	<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
	$(document).ready(function() {
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/textmate");
	    editor.getSession().setMode("ace/mode/xml");
	
		// Loading file
		$.ajax({
		  type: "GET",
		  url: '/api<%=request.fullpath + ".xml"%>',
		  success: function(data) {editor.getSession().setValue(data);editor.blur();}
		});
		
		// Quick save
		editor.commands.addCommand({
		    name: 'save',
		    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
		    exec: function(editor) {
		      $.ajax({
			    type: "PUT",
			    url: '/api<%=request.fullpath%>.xml',
			    data: editor.getSession().getValue(),
			    success: function(data) {console.log('Saved');humanMsg.displayMsg('Saved changes');}
			}); 
		    }
		});
		})
	</script>
	</div>
</div>

<script type="text/javascript">
		var isAlt = true;

		$(document).keyup(function (e) {
			if(e.which == 18) isAlt=false;
		}).keydown(function (e) {
			if(e.which == 18) isAlt=true;
			if(e.which == 39) {
				window.location.assign('<%= @next_url || '#' %>');
			}
			if(e.which == 37) {
				window.location.assign('<%= @previous_url || '#' %>');
			}
		});
</script>