<% @sdf ||= sdf %>
<%= partial :"scanita/header", :locals => {sdf: @sdf} %>

<div style="row">
	<% type = @sdf.type.gsub(' ','_') %>
	<% case type when "Classic_Scan" %>
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf} %>
	<% when "Spectroscopy" %>
	<div style="page-break-before:always;">
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf,direction:'Forward'} %>
	</div>
	<div style="page-break-before:always;">
		<%= partial "scanita/#{type}".downcase.to_sym, :locals => {sdf: @sdf,direction:'Backward'} %>
	</div>
	<% end %>
</div>

<%= partial :"_editor", :locals => {url: "#{request.fullpath}.xml"} %>

<script type="text/javascript">
		var isAlt = true;

		$(document).keyup(function (e) {
			if(e.which == 18) isAlt=false;
		}).keydown(function (e) {
			if(e.which == 18) isAlt=true;
			if(e.which == 39) {
				window.location.assign('<%= @next_url || '#' %>');
			}
			if(e.which == 37) {
				window.location.assign('<%= @previous_url || '#' %>');
			}
		});
</script>