<% path = settings.file_server + @folder.gsub(settings.dir,'') + "../img/" %>
<% %w(Forward Backward).each do |direction| %>
	<div class="row">
	<h2><%= direction %></h2>
	<div class="onecol">
		<% ['drive amplitude | SMOOTHED', 'dissipation'].each do |name| %>
			<% channel = @images.select {|f| f.xpath('/SPM/Viewer/View/Name').first.content == name && f.xpath('/SPM/Viewer/View/Direction').first.content == direction}.first %>
			<% if channel %>
				<% url = path + channel.xpath('/SPM/Viewer/@filename').first %>
				<figure>
					<figcaption class="noprint"><%= channel.xpath('/SPM/Viewer/View/Name').first.content %></figcaption>
					<object type="image/svg+xml" data="<%=url%>">Your browser does not support SVG</object>
				</figure>
			<% end %>
		<% end %>
	
		<% fits = @xml.xpath("/SPM/Package/UserChannel[Name = 'dissipation | InteractiveFit session' and Direction = $d]/UserData/Fit",nil,{:d => direction}) %>
		<% if !fits.empty? %>
		<table>
			<tr>
			<% fits.first.children.each do |el| %>
				<th><%=el.name%></th>
			<% end %>
				<th>alpha</th>
				<th>Ec</th>
			</tr>
			<% fits.each do |fit| %>
			<tr>
				<% fit.children.each do |parameter| %>
					<td><%= parameter.at_xpath('value').content.to_f.round(6) %></td>
				<% end %>
				<td><%=alpha=(@xml.at_xpath('/SPM/UserData/temperature').content.to_f * fit.at_xpath('beta/value').content.to_f); alpha.round(5) %></td>
				<td><%=(0.5*alpha*fit.at_xpath('Vo/value').content.to_f*1000).round(5) %> meV</td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>

	<div class="onecol last">
		<% ['frequency shift | substractedFit | SMOOTHED', 'smoothed delta frequency shift'].each do |name| %>
			<% channel = @images.select {|f| f.xpath('/SPM/Viewer/View/Name').first.content == name && f.xpath('/SPM/Viewer/View/Direction').first.content == direction}.first %>
			<% if channel %>
				<% url = path + channel.xpath('/SPM/Viewer/@filename').first %>
				<figure>
					<figcaption class="noprint"><%= channel.xpath('/SPM/Viewer/View/Name').first.content %></figcaption>
					<object type="image/svg+xml" data="<%=url%>">Your browser does not support SVG</object>
				</figure>
			<% end %>
		<% end %>
	</div>
	</div>
<% end %>
