<% path = settings.file_server + @folder.gsub(settings.dir,'') + "../img/" %>
	<div class="row">
	<div class="onecol">
		<% ['Averaged drive amplitude', 'Comparison with background', 'Dissipation | SMOOTHED'].each do |name| %>
			<% channel = @images.select {|f| f.xpath('/SPM/Viewer/View/Name').first.content == name }%>
			<% if channel = channel.first %>
				<% url = path + channel.xpath('/SPM/Viewer/@filename').first %>
				<figure>
					<figcaption class="noprint"><%= channel.xpath('/SPM/Viewer/View/Name').first.content %></figcaption>
					<object type="image/svg+xml" data="<%=url%>">Your browser does not support SVG</object>
<a href="<%=url%>">Download</a>
				</figure>
			<% end %>
		<% end %>
	
		<% fits = @xml.xpath("/SPM/Package/UserChannel[Name = 'Dissipation peaks']/UserData/Fit") %>
		<% if !fits.empty? %>
		<table>
			<tr>
				<th>#</th>
				<th>Vo</th>
				<th>gamma</th>
				<th>alpha</th>
				<th>Ec</th>
				<th>delta Ec</th>		
			</tr>
			<% 1.upto((fits.first.children.length-1)/2).each do |i| %>
			<tr>
				<td><%=i%></td>
				<td><%=fits.first.at_xpath("V#{i}/value").content.to_f.round(3)%></td>
				<td><%=fits.first.at_xpath("gamma#{i}/value").content.to_f.round(3)%></td>
				<td><%=alpha=(@xml.at_xpath('/SPM/UserData/temperature').content.to_f * fits.first.at_xpath('beta/value').content.to_f); alpha.round(5) %></td>
				<td><%=ec=(fits.first.at_xpath("V#{i}/value").content.to_f * alpha*1000); ec.round(3) %> meV</td>
				<td><%ecp=(fits.first.at_xpath("V#{i==1 ? 1:i-1}/value").content.to_f * alpha*1000);%><%= (ec-ecp).round(3) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>

	<div class="onecol last">
		<% ['Averaged frequency shift', 'Difference | SMOOTHED', 'Delta frequency shift | SMOOTHED'].each do |name| %>
			<% channel = @images.select {|f| f.xpath('/SPM/Viewer/View/Name').first.content == name }%>
			<% if channel = channel.first %>
				<% url = path + channel.xpath('/SPM/Viewer/@filename').first %>
				<figure>
					<figcaption class="noprint"><%= channel.xpath('/SPM/Viewer/View/Name').first.content %></figcaption>
					<object type="image/svg+xml" data="<%=url%>">Your browser does not support SVG</object>
<a href="<%=url%>">Download</a>
				</figure>
			<% end %>
		<% end %>

		<% fits = @xml.xpath("/SPM/Package/UserChannel[Name = 'Frequency shift peaks']/UserData/Fit") %>
		<% if !fits.empty? %>
		<table>
			<tr>
				<th>#</th>
				<th>Vo</th>
				<th>gamma</th>
				<th>alpha</th>
				<th>Ec</th>
				<th>delta Ec</th>		
			</tr>
			<% 1.upto((fits.first.children.length-1)/2).each do |i| %>
			<tr>
				<td><%=i%></td>
				<td><%=fits.first.at_xpath("V#{i}/value").content.to_f.round(3)%></td>
				<td><%=fits.first.at_xpath("gamma#{i}/value").content.to_f.round(3)%></td>
				<td><%=alpha=(@xml.at_xpath('/SPM/UserData/temperature').content.to_f * fits.first.at_xpath('beta/value').content.to_f); alpha.round(5) %></td>
				<td><%=ec=(fits.first.at_xpath("V#{i}/value").content.to_f * alpha*1000); ec.round(3) %> meV</td>
				<td><%ecp=(fits.first.at_xpath("V#{i==1 ? 1:i-1}/value").content.to_f * alpha*1000);%><%= (ec-ecp).round(3) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>
</div>
